<h1>New company</h1>

<%= form_for @company do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />

    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>

    <%= f.submit %>
<% end %>

<%= link_to 'Back', companies_path %>
